.games-section {
  display: inline-flex;
  margin: 45px 10px;
} 

.games-waiting, .games-on {
  margin: 5px;
  padding-bottom: 15px;
  border: 1px solid black;
  width: 450px;
}

h3 {
  text-align: center;
}

.game-box {
  border: 1px solid black;
  width: 350px;
  height: 130px;
  text-align: center;
  margin: 5px auto;
  font-size: 16px;
  background-color: lightseagreen;
  line-height: 3px;
}

.score-form input {
  margin-left: 2px;
}

.score-form {
  margin: 20px auto;
}