.reg-form-container {
  width: 100%;
}

.reg-form {
  width: 80%;
  margin: 10px 10%;
  padding: 10px;
  background-color: lightseagreen;
  border-radius: 5px;
}

.reg-form label {
  margin-left: 20px;
}

.reg-form .names {
  width: 120px;
}

select {
  width: 80px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

